{#
/**
 * @file
 * Template for a Card component.
 */
#}
<div class="card" style="width: 18rem;">

  <div class="card-header">
    Card Header
  </div>

  <div class="card-body">
    {% block body %}
      {{ body }}
    {% endblock %}
  </div>
</div>
